body {
  /* based on lichess dark theme */
  font:12px'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
  color: #909090;
  background: #1a1a1a;
}

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

.extension {
  color: #606060;
}
