body {
  /* based on lichess dark theme */
  font:12px'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
  color: #909090;
  background: #1a1a1a;
}

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
}

.extension {
  color: #606060;
}

.wrapL {
  float: left;
  margin-right: 20px;
}

.clear {
  clear: both;
}

#stats {
  position: absolute;
}

#legend {
  margin: 20px 0;
}

.dot {
  font-size: 18px;
  margin-right: 5px;
}

.human {
  color: #fe7727;
}

.ia {
  color: #be4701;
}
