@main("Lichess activity") {

<h1>
    <a href="http://lichess.org">
        lichess<span class="extension">.org</span>
    </a>
    activity
</h1>

<div id="worldmap"></div>

<div id="stats">
    <div class="wrapL">
        <div id="time">time: <span></span></div>
        <div id="moves">moves: <span></span></div>
        <div id="humanMoves">human moves: <span></span></div>
        <div id="iaMoves">IA moves: <span></span></div>
        <div id="countries">countries: <span></span></div>
    </div>
    <div class="wrapL">
        <div id="topCountries"></div>
    </div>
    <div class="clear"></div>
    <div id="legend">
        legend:
        <div>
            <span class="dot human">&#x25CF;</span>
            human move
        </div>
        <div>
            <span class="dot ia">&#x25CF;</span>
            IA move
        </div>
    </div>
    <div>
        <a href="https://github.com/veloce/chessmap" target="_blank">
            source code
        </a>
    </div>
</div>

}
